.portfolioHeader {
    display: grid;
    grid-template-columns: 75px 1275px 250px;
    grid-template-rows: 75px;
}

.navButtons {
    grid-column-start: 3;
    grid-column-end: 3;
}

.pageTitle {
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: #faebd7;
    opacity: 0.80;
}

.name {
    margin: 25px 10px 5px 10px;
    color: #915c83;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    background-color:#915c83;
}